@import '../../style/theme.scss';

.textfield-select {
  width: 100%;
  min-width: 80px;
  height: 40px;
  position: relative;

  select {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: 0;
    outline: 0;
    border: 1px solid $color-text-primary;
    border-radius: 4px;
    color: $color-text-primary;
    font-size: $font-size-s;

    &:focus {
      border: 2px solid $color-primary-light;
    }

    &:focus + label {
      color: $color-primary-light;
    }
  }

  label {
    position: absolute;
    top: -7px;
    left: 10px;
    color: $color-text-primary;
    background-color: $color-background-main;
    font-size: $font-size-s;
    // line-height: $font-size-m;
  }
}
