@import '../../style/theme.scss';

.textfield-area {
  width: 100%;
  position: relative;

  textarea,
  label {
    width: 100%;
    height: 100%;
  }

  textarea {
    padding: 10px;
    font-size: $font-size-s;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 0px 0px;

    &:focus + label {
      border: 2px solid $color-primary-light;

      .label-text {
        color: $color-primary-light;
        transform: translateY(-16px);
      }
    }

    &:valid + label {
      .label-text {
        transform: translateY(-16px);
      }
    }
  }

  &.error textarea:invalid + label {
    border: 1px solid $color-error;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 8px;
    border: 1px solid $color-text-primary;
    border-radius: 4px;
    pointer-events: none;
  }

  .label-text {
    position: absolute;
    top: 9px;
    padding: 1px;
    color: $color-text-primary;
    background-color: $color-background-main;
    font-size: $font-size-s;
    transition: transform 0.2s ease-in-out;
  }
}
