@import '../../style/theme.scss';

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.225s ease-in-out;
  z-index: -100;

  &.active {
    opacity: 1;
    z-index: $z-index-overlay;
  }

  &.active.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $z-index-overlay-backdrop;
  }
}
